{% extends 'base.html.twig' %}



{% block title %}Edit Patient{% endblock %}

{% block body %}
    <h1>编辑病人:{{ patient.name }}</h1>

    {{ include('patient/_form.html.twig', {'button_label': '更新'}) }}   

    {{ include('patient/_delete_form.html.twig') }}
{% endblock %}
